body{
    margin:0px;
    padding:0px;
    background:linear-gradient(black 18%,orange,orangered,orange)
}
.menu1{
    width: 100%;
    overflow: hidden;
    background: black;
}
.menu1 ul{
    padding:0px;
    margin: 0 0 0 125px;
    list-style-type: none;
}
.logo img{
    position:absolute;
    margin-top: 10px;
    margin-left: 10px;
    width: 105px
}
.menu1 li{
    float:left ;
}
.menu1 li a{
    list-style-type: none;
    display: inline-block;
    text-decoration: none;
    padding: 37px 51px;
    font-size: 20px;
    text-align: center;
    color: white;
    border-bottom: 1px solid black;
}
.menu1 li a:hover{
    color:orange;
    border-bottom: 1px solid orange;
}
.bienvenue{
    color:orange;
    text-align: center;
    margin-top: 85px;
    font-size: 50px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.slogan{
    color:orange;
    text-align: center;
    margin-top: -30px;
    font-size: 30px;
}
.image1 img{
    position:absolute;
    margin-top: 60px;
    margin-left: 200px;
    border-radius: 30px;
    border: 3px solid white;
}
.image2 img{
    position:absolute;
    margin-top: 250px;
    margin-left: 500px;
    border-radius: 10px;
    border: 3px solid white;
}
.image3 img{
    position:absolute;
    margin-top: 185px;
    margin-left: 975px;
    border-radius: 40px;
    border: 3px solid rgb(255, 255, 255);
}
.trait1{
    margin-top: 250px;
    margin-left: 250px;
    margin-right: 250px;
    color: aliceblue;
}
p.HistoireTitre{
    color: rgb(255, 255, 255);
    margin-top: 100px;
    margin-left: 205px;
    font-size: 50px;
}
p.HistoireText{
    color:rgb(255, 255, 255);
    margin-top: -45px;
    margin-left: 200px;
    font-size: 25px;
    width: 350px;
    text-align: center;
}
p.HistoireText a{
    color:gray;
}
.image4 img{
    position: absolute;
    margin-top: -465px;
    margin-left: 700px;
    width: 550px;
    transition: 0.3s;
}
.image4 img:hover{
    transition: 0.3s;
    width: 570px;
}
p.EconomieTitre{
    color:antiquewhite;
    margin-top: 250px;
    margin-left: 880px;
    font-size: 50px;
}
p.EconomieText{
    color:rgb(255, 255, 255);
    margin-top: -45px;
    margin-left: 900px;
    font-size: 25px;
    width: 350px;
    text-align: center;
}
p.EconomieText a{
    color:gray;
}
.image5 img{
    position: absolute;
    margin-top: -450px;
    margin-left: 150px;
    width: 550px;
    transition: 0.3s;
}
.image5 img:hover{
    width: 600px;
    transition: 0.3s;
}
p.EngagementsTitre{
    color:antiquewhite;
    margin-top: 200px;
    margin-left: 200px;
    font-size: 50px;
}
p.EngagementsText{
    color:rgb(255, 255, 255);
    margin-top: -45px;
    margin-left: 220px;
    font-size: 25px;
    width: 350px;
    text-align: center;
}
p.EngagementsText a{
    color:gray;
}
.image6 img{
    position: absolute;
    margin-top: -400px;
    margin-left: 650px;
    width: 750px;
    transition: 0.3s;
}
.image6 img:hover{
    width: 800px;
    transition: 0.3s
}
.trait2{
    margin-left: 250px;
    margin-right: 250px;
    margin-top: 175px;
}
p.Actualites{
    text-align: center;
    margin-top: 50px;
    font-size: 50px;
    color: white;
}
#slider {
    position: relative;
    display: flex;
    align-items: center;
    margin-top: 50px;
    margin-left: 185px;
    margin-bottom: 50px;
    width: 1108px;
    border: 10px solid white
}
#precedent, #suivant {
      cursor: pointer;
      position: absolute;
      font-size: 75px;
      color: rgba(0, 0, 0, 0.7);
      background-color: rgba(255, 255, 255, 0.69);
      opacity: 0;
      transition: opacity 0.3s ease;
      padding: 15px;
}
#precedent {
    left: 0;
}
#suivant {
    right: 0;
}
#slider:hover #precedent, #slider:hover #suivant{
    opacity: 1;
}
.slide.active {
    display: block;
}
#slider .legende {
    position: absolute;
    margin-top: 504px;
    padding: 25px;
    width: 1058px;
    text-align: left;
    background: rgba(255, 255, 255, 0.545);
    color: black;
    font-size: 30px;
    display: none;
}
#slider .legende.active {
    display: block;
}
#slider .legende a {
    color: orange;
}
#slider .legende:hover {
    background-color: white;
}
.menupied{
    margin-top: 100px;
    height: 200px;
    background: black;
}
.menupied a{
    list-style-type: none;
    display: inline-block;
    text-decoration: none;
    font-size: 15px;
    color: white;
    margin-top: 100px;
    margin-left: 100px;
}
.menupied a:hover{
    color:orange;
    text-decoration: underline;
}
p.auteur{
    color: antiquewhite;
    text-align: left;
    margin-top: -40px;
    margin-left: 40px;
    font-size: 20px;
}
