.logo img{
    position:absolute;
    margin-top: -5px;
    margin-left: 5px;
}
nav ul li{
    list-style-type: none;
    display: block;
    text-align: right;
    margin:5px;
    font-size: 20px;
}
ul li a{
    color: antiquewhite;
    text-decoration: none;
    margin-right: 15px;
    margin-top: -5px;
}

ul li a:hover{
    color:black;
    text-decoration: underline;
}

h3 {
    color:antiquewhite;
}

body{
    margin:0px;
    padding:0px;
    background-color: black;
}
