body{
    margin:0px;
    padding:0px;
    background:linear-gradient(rgb(183, 91, 5), orange, orangered)
}
.menu1{ 
    width: 100%;
    overflow: hidden;
    background: black;
}
.menu1 ul{
    padding:0px;
    margin: 0 0 0 125px;
    list-style-type: none;
}
.logo img{
    position:absolute;
    margin-top: 11px;   
    margin-left: 10px;
    width: 105px
}
.menu1 li{
    float:left ;
}
.menu1 li a{
    list-style-type: none;
    display: inline-block;
    text-decoration: none;
    padding: 37px 51px;
    font-size: 20px;
    text-align: center;
    color: white;
    border-bottom: 1px solid black;
}
.menu1 li a:hover{
    color:orange;
    border-bottom: 1px solid orange;
}   

































.menupied{
    margin-top: 100px;
    height: 200px;
    background: black;
}
.menupied a{
    list-style-type: none;
    display: inline-block;
    text-decoration: none;
    font-size: 15px;
    color: white;
    margin-top: 100px;
    margin-left: 100px;
}
.menupied a:hover{
    color:orange;
    text-decoration: underline;
}

p.auteur{
    color: antiquewhite;
    text-align: left;
    margin-top: -40px;
    margin-left: 40px;
    font-size: 20px;
}
