@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Inclusive+Sans&display=swap');
body{
    background-color: #ff4800;
}
*{
    margin: 0;
    padding:0px;
    box-sizing: border-box;
}
.logo img{
    position:relative;
    width: 105px;
    margin-top: 5px;
}
.menu1{
    display:flex;
    justify-content: space-between;
    background-color: black;
    padding: 10px;
    align-items: center;
    width: 100%
}
.menu1 ul li{
    display: inline-block;
    list-style: none;
    position: relative;
}
.menu1 ul li a{
    padding: 25px;
    margin-right: 8px;
    font-size: 20px;
    text-decoration: none;
    color:white;
    text-transform: uppercase;
    font-family: 'Ubuntu';
}
.menu1 ul li::after{
    content:'';
    bottom: -10px;
    transition: 0.3s;
    background: orange;
    width:0;
    height:3px;
    position: absolute;
    left:0;
}
.menu1 ul li:hover::after{
    width:100%;
}
.menu1 ul li a:hover{
    color: orange;
}
h1{
    font-size: 50px;
    font-family: "Ubuntu";
    text-align: center;
    padding:20px
}
.figures{
    display: flex;
    justify-content: center;
}
.figures img{
    margin-inline: 50px;
    margin-bottom: 15px;
}
.figures p{
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 170px;
}
p{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    padding: 15px;
}
footer{
    background-color: black;
    height: auto;
    width: 100%;
    padding-top: 40px;
}
.contenu-footer{
    width: 100%;
    margin-inline:100px;
}
.menu-reseau{
    display: flex;
    justify-content: center;
}
.menu-reseau a{
    text-decoration: none;
    margin-inline: 20px;
}
.menu-reseau a i{
    font-size: 2em;
    color: rgb(255, 255, 255);
    opacity: 0.9;
}
.menu-footer{
    margin: 30px;
}
.menu-footer ul{
    display: flex;
    justify-content: center;
}
.menu-footer ul li a{
    color:white;
    margin:20px;
    text-decoration: none;
    font-size:1.3em;
    opacity: 0.7;
    transition: 0.5s;
}
.menu-footer ul li a:hover{
    opacity:1
}
.bas-footer{
    background-color: black;
    padding: 20px;
    text-align: center;
}
.bas-footer{
    color: white;
    font-size: 20px;
}
